@layer components {
    .btn {
      --btn-display: inline-flex;
      --btn-base-font-size: var(--font-size-sm, 20px);
      --btn-base-text-color: var(--color-black, #000);
      --btn-base-background-color: var(--color-white, #fff);
      --btn-border: 1px solid var(--color-black, #000);
      --btn-base-padding-inline: 35px;
      --btn-base-padding-block: 20px;
      --btn-border-radius: var(--border-radius-md, 14px);
      --btn-hover-background-color: var(--color-black, #000);
      --btn-hover-color: var(--color-white, #fff);
  
      --btn-icon-align-items: center;
      --btn-icon-gap: 14px;
  
      --btn-icon-arrow-color: var(--color-green, #b9ff66);
      --btn-icon-arrow-justify: center;
      --btn-icon-arrow-size: 40px;
      --btn-icon-arrow-background-color: var(--color-black);
      --btn-icon-arrow-border-radius: 100%;
  
      display: var(--btn-display);
      font-size: var(--btn-base-font-size);
      color: var(--btn-base-text-color);
      background-color: var(--btn-base-background-color);
      padding-inline: var(--btn-base-padding-inline);
      padding-block: var(--btn-base-padding-block);
      border: var(--btn-border);
      border-radius: var(--btn-border-radius);
      text-decoration: none;
      transition: all var(--transition-base-time);
  
      &:hover {
        background-color: var(--btn-hover-background-color);
        color: var(--btn-hover-color);
      }
    }
}
